<!doctype html>
<html lang="" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>test project</title>
  <link rel="stylesheet" href="styles/main.css">

</head>
<body>
<div ng-controller="TestController as ctrl">
  <input type="text" ng-model="name"/>
  <span style="color:#008000">{{ name }}</span>
  <button ng-click="ctrl.submit(name)">Hello {{name}}</button>
</div>


<script src="/bower_components/angular/angular.js"></script>
<script src="scripts/main.js"></script>
</body>
</html>
